<div cid="{{ cart }}" user="{{ user }}" email="{{ email }}" status="{{ status }}" id="purchase"></div>

{{!-- MENSAJE 'PROCESANDO COMPRA' --}}
<div class='loadingContainer' id="loadingContainer">
    <div class="loadingText">PROCESANDO COMPRA</div>
    <div class='loadingSpinner'></div>
</div>

{{!-- SWEET ALERT --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{!-- SCRIPT --}}
<script src="../static/assets/js/purchase.js"></script>